<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:with="version=${#strings.randomAlphanumeric(3)}">
<head>
<title>Filtros com Specification e geração de PDF com Jasper
	Reports</title>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="icon" type="image/png" sizes="32x32"
	th:href="@{/image/favicon-32x32.png}">
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/image/favicon-16x16.png}">

<!-- Bootstrap core CSS -->
<link
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css(v=${version}) }"
	rel="stylesheet" />
<link
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"
	rel="stylesheet" />
<link
	href="https://cdn.datatables.net/responsive/2.2.1/css/responsive.dataTables.min.css"
	rel="stylesheet" />
	<link href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css" rel="stylesheet"/>
<link
	href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
	rel="stylesheet" />

<!-- Icons fontawesome -->
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
	rel="stylesheet" />
<link
	href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css'
	rel='stylesheet'>
<!-- Custom styles for this template -->
<link th:href="@{/css/style.css(v=${version}) }" rel="stylesheet" />


</head>
<body style="min-height: 110vh;" id="body-pd">

	

	<div class="layout-main">
		<section class="layout-content">
			<div class="container container-principal">

			<div class="row">
				<div class="col-md-12">
				
					<h1>Solicitações</h1>
					<span class="pop-embaixo" data-toggle="popover-hover" data-content="Filtros">
					<a class="btn btn-filtro" data-toggle="collapse" 
						href="#filtrosaccordion" role="button" aria-expanded="false"
						aria-controls="collapseExample"><i class="fas fa-filter mr-2" ></i>Filtros</a>
					</span>

				</div>

			</div>
		


			<div class="filtroDasSolicitacoes">
				<div class="collapse" id="filtrosaccordion">
					<div class="card card-body-filtros">
						<form id="buscasAvancadas">
							<div class="form-row">
								<div class="form-group col-md-3">
									<label for="buscaCliente">Nome do Cliente:</label> <input
										type="text" class="form-control" id="buscaCliente"
										th:name="buscaCliente">
								</div>
								<div class="form-group col-md-3">
									<label for="buscaAssunto">Assunto:</label> <input type="text"
										class="form-control" id="buscaAssunto" th:name="buscaAssunto">
								</div>
								<div class="form-group col-md-3">
									<label for="buscaUsuario">Nome do Usuário:</label> <input
										type="text" class="form-control" id="buscaUsuario"
										th:name="buscaUsuario">
								</div>
								<div class="form-group col-md-3">
									<label for="buscaBairro">Bairro:</label> <input type="text"
										class="form-control" id="buscaBairro" th:name="buscaBairro">
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-3">
									<label for="buscaCliente">Data Inicial:</label> <input
										type="date" class="form-control" id="buscaData"
										th:name="buscaData">
								</div>
								<div class="form-group col-md-3">
									<label for="buscaCliente">Data Final:</label> <input
										type="date" class="form-control" id="buscaDataFinal"
										th:name="buscaDataFinal">
								</div>


								<div class="form-group col-md-6">
								<label for="status" style="display: block">Status:</label>
								<div class="form-check form-check-inline">

									<input class="form-check-input status" type="radio"
										th:name="status" value="aberto" id="aberto"> <label
										for="aberto" class="form-check-label">Aberto</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input status" type="radio"
										th:name="status" value="atrasado" id="atrasado"> <label
										for="atrasado" class="form-check-label">Atrasado</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input status" type="radio"
										th:name="status" value="pendente" id="pendente"> <label
										for="pendente" class="form-check-label">Pendente</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input status" type="radio"
										th:name="status" value="finalizado" id="finalizado"> <label
										for="finalizado" class="form-check-label">Finalizado </label>
								</div>
								</div>
							</div>
							<div class="form-row">
								<div class="form-group col-md-3">
									<label for="resultado" style="display: block">Resultado:</label>
									<div class="form-check form-check-inline">

										<input class="form-check-input resultado" type="radio"
											th:name="resultado" value="Positivo"> <label
											class="form-check-label">Positivo</label>
									</div>
									<div class="form-check form-check-inline">
										<input class="form-check-input resultado" type="radio"
											th:name="resultado" value="Negativo"> <label
											class="form-check-label">Negativo</label>
									</div>
								</div>
								<div class="form-group col-md-3">
									<label for="" style="display: block">Munícipe avisado?</label>
									<div class="form-check form-check-inline">
										<input class="form-check-input aviso" type="radio"
											th:name="aviso" value="true"> <label
											class="form-check-label">Sim</label>
									</div>
									<div class="form-check  form-check-inline">
										<input class="form-check-input aviso" type="radio"
											th:name="aviso" value="false"> <label
											class="form-check-label">Não</label>
									</div>

								</div>
								<div class="form-group col-md-3">
									<label for="" style="display: block">Indicada?</label>
									<div class="form-check form-check-inline">
										<input class="form-check-input indicada" type="radio"
											th:name="indicada" value="true"> <label
											class="form-check-label">Sim</label>
									</div>
									<div class="form-check  form-check-inline">
										<input class="form-check-input indicada" type="radio"
											th:name="indicada" value="false"> <label
											class="form-check-label">Não</label>
									</div>

								</div>

							</div>

							<div class="btn-filtro-tamanho"
								style="float: left; width: 95%; transform: translateX(-1.6%)">
								<a class="btn btn-filtro ml-0" href="#" role="button"
									id="limpar">Limpar Filtros</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>



		<div class="container">

			<div class="row">
				<div class="col-md-12">

					<table id="table-solicitacoes"
						class="table table-sm table-striped nowrap" style="width: 100%">
						<thead class="thead-dark">
							<tr>
								<th></th>
								<th scope="col">Id</th>
								<th scope="col">Munícipe</th>
								<th scope="col">Bairro</th>
								<th scope="col">Assunto</th>
								<th scope="col">Indicada?</th>
								<th scope="col">Status</th>
								<th scope="col">Data</th>
								<th scope="col">Ações</th>
							</tr>
						</thead>
					</table>


	
					<a
						class="btn btn-download-relatorio" href="#" role="button"
						id="abrirRelatorioModal" data-toggle="modal"
						data-target="#modal-relatorio-dinamico">Gerar PDF</a> 					
					
					<span th:replace="/modal-relatorio :: modal-form"></span>

				</div>
			</div>
		</div>
		</section>
	</div>




	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/webjars/jquery/jquery.min.js(v=${version}) }"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		th:src="@{/webjars/bootstrap/js/bootstrap.min.js(v=${version}) }"></script>
	<!-- jQueryUI (autocomplete) -->
	<script src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js'></script>
	<!-- 	Datatables JS -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<script
		src="https://cdn.datatables.net/responsive/2.2.1/js/dataTables.responsive.min.js"></script>
		<script	src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>

	<script
		src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>
	<script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
	<!-- 	MEUS JS -->

	<script th:src="@{/js/main.js(v=${version})}"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	var solucoes = [[${solucoes}]];
	
	
	</script>
	<script src="http://jqueryvalidation.org/files/dist/jquery.validate.js"></script>
	<script
		src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>



	<script type="text/javascript">
		$(function() {
			$('[data-toggle="tooltip"]').tooltip()
		});

		jQuery.fn.dataTable.render.ellipsis = function(cutoff, wordbreak,
				escapeHtml) {
			if ($(window).width() <= 2000) {
				var esc = function(t) {
					return t.replace(/&/g, '&amp;').replace(/</g, '&lt;')
							.replace(/>/g, '&gt;').replace(/"/g, '&quot;');
				};

				return function(d, type, row) {
					// Order, search and type get the original data
					if (type !== 'display') {
						return d;
					}

					if (typeof d !== 'number' && typeof d !== 'string') {
						return d;
					}

					d = d.toString(); // cast numbers

					if (d.length <= cutoff) {
						return d;
					}

					var shortened = d.substr(0, cutoff - 1);

					// Find the last white space character in the string
					if (wordbreak) {
						shortened = shortened.replace(/\s([^\s]*)$/, '');
					}

					// Protect against uncontrolled HTML input
					if (escapeHtml) {
						shortened = esc(shortened);
					}

					return '<span class="ellipsis" data-toggle="popover-hover" data-content="'
							+ esc(d) + '">' + shortened + '&#8230;</span>';
				};
			}
		};
	</script>
</body>
</html>